html,
body,

#root {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: Ozxgen, sans-serif;
    margin: auto;
    overflow: scroll;
}

.page {
    height: 100vmax;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

.init-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

.square-container1{
    float: left;
    height: 100%;
    width: 60%;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 10px;
    background-color: white;
    border: 3px solid #da667b;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 0;
    text-align: left;
}

.square-container2{
    float: right;
    width: 40%;
    object-fit: fill;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 10px;
    background-color: white;
    border: 3px solid #da667b;
    margin-top: 30px;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
}

.grid-container1 {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
    justify-content: space-evenly;
  
}
  
.grid-container2 {
    display: grid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 33% 33% 33%;
    padding: 10px;
    justify-content: space-evenly;
}
  
.grid-item {
    font-size: 40%;
    text-align: center;
    
}

.square-container3{
    float: right;
    width: 40%;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 10px;
    background-color: white;
    border: 3px solid #da667b;
    margin-top: 00px;
    box-sizing: border-box;
    padding: 0;
}




.nav-bar{
    position: relative;
    background-color: #333;
    overflow: hidden;
}

.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.nav-bar a:hover {
    color: #ffffff;
    background-color: rgba(23, 23, 23, 0.9);
}

.nav-bar a.active {
    background-color: #DA667B;
    color: white;
}

.nav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

.nav-right {
    float: right;
}

.inner-container {
    background-color: white;
    border: 3px solid #da667b;
    height: 100vh;
}


.inner-container h1{
    padding-bottom: 10px;
    border-bottom:2px solid black;
    
}

.name-box{
    display: inline-block;
    float: left; 
    width: 23%;
    margin-left: 50px;
}

.name-box h2 {
    border-bottom: 3px solid #da667b;
    padding-bottom: 10px;
}

.email-box {
    display: inline-block;
    float: none;
    width: 23%;
}

.email-box h2 {
    border-bottom: 3px solid #da667b;
    padding-bottom: 10px;
}

.pass-box {
    display: inline-block;
    float: right;
    width: 23%;
    margin-right: 50px;
}

.pass-box h2 {
    border-bottom: 3px solid #da667b;
    padding-bottom: 10px;
}

.name-box button {
    border: 0;
    font-size: 17px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    color: white;
    background-color: #DA667B;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    height: 30px;
    width: 80%;   
}

.name-box input {
    margin-bottom: 15px;
}

.email-box button {
    border: 0;
    font-size: 17px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    color: white;
    background-color: #DA667B;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    height: 30px;
    width: 80%;   
}

.email-box input {
    margin-bottom: 15px;
}

.pass-box button {
    border: 0;
    font-size: 17px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    color: white;
    background-color: #DA667B;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    height: 30px;
    width: 80%;   
}

.pass-box input {
    margin-bottom: 15px;
}

/* Biometrics Styling */
.bio-container1{
    float: right;
    height: 875px;
    width: 60%;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 10px;
    background-color: white;
    border: 3px solid #da667b;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 0;
    text-align: left;
}

.bio-container1 h2{
    text-align: center;
}


.bio-container2{
    float: left;
    height: 375px;
    width: 40%;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 10px;
    background-color: white;
    border: 3px solid #da667b;
    margin-top: 30px;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
}


.bio-container3{
    float: left;
    height: 500px;
    width: 40%;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 10px;
    background-color: white;
    border: 3px solid #da667b;
    margin-top: 00px;
    box-sizing: border-box;
    padding: 0;
}

.biogrid-container1 {
    text-align: left;
    padding: 10px;
    justify-content: space-evenly;
    float: left;
}

.BMI-header {
    font-size: 20px;
    float: right;

}

.changeStats{
    border: 0;
    font-size: 17px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    color: white;
    background-color: #DA667B;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    height: 30px;
    width: 80%; 
    margin-top: 35px;
}

.saveStats {
    border: 0;
    font-size: 17px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    color: white;
    background-color: #DA667B;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    height: 30px;
    width: 520px; 
    margin-top: 35px;
    margin-left: 45px;
}

input{
    width: 20px;
    display: inline-block;
}