html,
header,
body,
footer,

#root {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-image:  url(../../Resources/donut_web_light.jpg);
    font-family: Ozxgen, sans-serif;
}

.header {
    display: flex;
    background: rgba(255, 255, 255, 0.8);

}

.body {
    background: rgba(255, 255, 255, 0.8);
}

.footer {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.left-box {
    width: 50%;
    height: 50%;
}

.logo {
  height: 40%;
  width: 40%;
  margin-left: 720px;
}

.right-box {
    width: 50%;
    height: 50%;
    
}
