html,
body,

#root {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    /*background-image:  url(../../Resources/donut_web_light.jpg);*/
    font-family: Ozxgen, sans-serif;
    margin: auto;
    overflow: scroll;
}

.page {
    background-image: url(../../Resources/donut_web_light.jpg);
}

.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 138px;
    max-width: 138px;
}


.box-container {
    display: flex;
    flex-direction: column;
    height: 760px;
    width: 500px;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 10px;
    padding: 24px;
    background-color: white;
    border: 3px solid #da667b;
    margin-top: 30px;
    
}

.title {
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 22px;
    border-bottom: 2px solid black;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-label {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-input, .register-input {
    height: 2.1em;
    border-radius: 10px;
    border: 1px solid #373738;
    padding: 5px;
    font-size: 19px;
    color: #747474;
    background: rgba(15, 15, 15, 0.01);
    font-size: 20px;
    font-weight: 600px;
    padding-left: 5px;
}

.login-input:hover, .register-input:hover {
    border: 2px solid #0044fd;
}

.login-button, .register-button {
    padding: 2px 30px;
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    color: white;
    background-color: #DA667B;
    margin-top: 10px;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    height: 50px;
}


.seperator {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #92ADB6;
}

.backToLog {
    margin-top: 20px;
    text-align: center;
    color: #92ADB6;
}


.backToReg {
    margin-top: 20px;
    text-align: center;
    color: #92ADB6;
}

.error {
    margin-top: 5px;
    color: red;
    
}